<div class="center jumbotron">

  <h1>MercadApp</h1>

<br> <br>
Login
<input type="text" name="login">

<br> <br>
Senha
<input type="password" name="senha">
<br> <br>
<%= link_to "Ok", signup_path, class: "btn btn-lg btn-primary" %>

</div>
