@import "bootstrap-sprockets";
@import "bootstrap";

h1
{
  line-height: 1;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

body
{
  padding-top: 60px;
}

section 
{
  overflow: auto;
}

textarea
{
  resize: vertical;
}

.center
{
  text-align: center;
}

.center h1
{
  margin-bottom: 10px;
}

footer
{
  margin-top:100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: center;
}
